<div class="contact-info">
  <div class="contact-info__content">
    <div class="contact-info__content__picture">
      <img
        src="https://cdn.idntimes.com/content-images/community/2019/10/a8d41730-8d7a-442c-8133-65f6764f549c-e37ca56160c62c2cb91d2efe5a689e56_600x400.jpg"
        alt="Lee Seung Gi"
      />
    </div>
    <div class="contact-info__content__text">
      <h3>Lee Seung Gi</h3>
      <p>Last seen/status</p>
    </div>
    <span class="material-icons">more_vert</span>
  </div>
</div>
