<div class="contact-info">
  <div class="contact-info__content">
    <div class="contact-info__content__picture">
      <img [src]="chat.imgPath" alt="{{ chat.name }}" />
    </div>
    <div class="contact-info__content__text">
      <h3>{{ chat.name }}</h3>
      <p>Last seen/status</p>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="contactMenu">
      <span class="material-icons">more_vert</span>
    </button>
    <mat-menu #contactMenu="matMenu">
      <button mat-menu-item>
        <span>Contact Info</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="message-container">
  <div class="message-container__content">
    <div class="message-container__content__send">
      <p class="message-container__content__send__text">
        {{ message.content }}
      </p>
      <span class="message-container__content__send__time">{{
        message.dateMsg | date: "shortTime"
      }}</span>
    </div>
    <div class="message-container__content__send">
      <p class="message-container__content__send__text">
        {{ message.content }}
      </p>
      <span class="message-container__content__send__time">{{
        message.dateMsg | date: "shortTime"
      }}</span>
    </div>
    <div class="message-container__content__receive">
      <p class="message-container__content__receive__text">
        {{ message.contentReceive }}
      </p>
      <span class="message-container__content__receive__time">{{
        message.dateMsg | date: "shortTime"
      }}</span>
    </div>
  </div>
</div>
