<div class="chat">
  <div class="chat__container">
    <div class="chat__container__left">
      <div class="chat__container__left__user">
        <img
          class="chat__container__left__user__profile"
          [src]="user.photoUser"
          alt="{{ user.nameUser }}"
        />
        <div class="chat__container__left__user__name">
          <p>{{ user.nameUser }}</p>
        </div>
        <div class="chat__container__left__user__more">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <span class="material-icons">more_vert</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openUserInfo()">
              <mat-icon>
                person
              </mat-icon>
              <span>Edit Profile</span>
            </button>
            <button mat-menu-item>
              <mat-icon>
                power_settings_new
              </mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
