<div class="chat">
  <div class="chat__container">
    <div class="chat__container__left">
      <div class="chat__container__left__user">
        <img
          class="chat__container__left__user__profile"
          src="../../../assets/forestChatLogo.png"
          alt="profile"
        />
        <div class="chat__container__left__user__name">
          <p>Name Blabla</p>
        </div>
        <div class="chat__container__left__user__more">
          <mat-icon matSuffix>more_vert</mat-icon>
        </div>
      </div>
      <div class="chat__container__left__search-box">
        <div class="chat__container__left__search-box__search">
          <div class="chat__container__left__search-box__search__icon">
            <mat-icon matSuffix>search</mat-icon>
          </div>
          <input
            class="chat__container__left__search-box__search__input"
            type="text"
            matInput
            placeholder="Search contact"
            ngModel
          />
        </div>
      </div>
    </div>
  </div>
</div>
