.chat {
  &__container {
    background-color: white;
    &__left {
      font-family: BenchNine;
      &__user {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        background-color: #d1d1d1;
        padding: 10px 10px;
        &__profile {
          grid-column: 1/2;
          height: 60px;
        }
        &__name {
          grid-column: 2/7;
          font-size: 30px;
          padding: 0px 15px;
          padding-top: 25px;
          max-width: 400px;
          color: #454545;
        }
        &__more {
          grid-column: 7/8;
          padding-top: 15px;
          .material-icons {
            font-size: 30px;
            color: #454545;
          }
        }
      }
    }
  }
}
