<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">
  <div class="chat-list">
    <div class="chat-list__content">
      <div class="chat-list__content__container">
        <div class="chat-list__content__container__picture">
          <img [src]="chat.imgPath" alt="{{ chat.name }}" />
        </div>
        <div class="chat-list__content__container__name">
          <h3>{{ chat.name }}</h3>
          <p>{{ chat.msg }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
